/* overall setting */
body {
	font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
	margin:0; /* attribute like the margin:0 border:0 and display:flex are already set by bootstap*/
	border:0;
	padding:0;
}

body.inner{
	display: flex;
	flex-direction: column;
	margin:0; /* attribute like the margin:0 border:0 and display:flex are already set by bootstap*/
	border:0;
	padding:0;
}

a:link, a:visited{
	text-decoration: none;
	color: black;
}
a:hover{
	text-decoration: none;
	color: black;
	border-bottom: thick solid #0DD00D;
}
a.has-underline:link, a.has-underline:visited{
	text-decoration: none;
	color: black;
	border-bottom: thick solid #0DD00D;
}
a.has-underline:hover{
	text-decoration: none;
	background-color: #1DDD3D;
	transition: background-color 1s;
}

span.date{
	font-family: Montserrat;
	font-weight: 400;
	font-size: 13px;
	color: #999;
}


/* CSS for index.html */
/* main content*/
main#index-main{
	display: flex;
	flex-direction: row;
	margin: 60px;
}

div#index-text{
	flex-grow: 5;
	margin-right: 350px;
}

div#index-content{
	flex-grow: 1;
	margin-top: 150px;
}

/* links inside text*/
p.index-main-p{
	font-size: 1.5em;
}


/* CSS for content/sitemap.html*/
main#sitemap-main section{
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap:wrap;
	height:200px;   /* must specify the size of inner container, otherwise the content inside inner container may overflow. Alternatively, set the size of outer contain with specific pixels and use percentage size for inner container*/
}


/* CSS for '/content/*.html' */
/* navigation bar*/
/* nav bar overall setting*/
nav.top {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 0;
	border: 0;
	width: 100%;
	height: 40px;
	background-color: #D0D0D0;
	position: fixed;
	top: 0;
	z-index:10;
}

nav.top a{
	padding: 14px 16px;
}

/* link hover style (to override the overall setting)*/
nav.top a:hover{
	background-color: #D0D0D0;
	border-bottom: none;
	text-decoration: none;
}

/* nav bar main menu (left part of it)*/
nav.top ul{
	display: flex;
	list-style-type: none;
}

nav.top ul ul {  /* hide second level drop-down list before hovering*/
	display: none;
}

nav.top ul li:hover ul{  /* show second level drop-down list when hovering*/
	display: flex;
	flex-direction: column;
	position: absolute;  /* must use aboslute to make the second level list overflow*/
	top: 36px;  /* have to adjust the distance to make them connected*/
}

nav.top ul ul li{
	display: flex;
	background-color: white;
	position: relative;
	right: 40px;  /* have to adjust the position to make them aligned*/
}

nav.top ul ul li a{  /* have to adjust the padding to make them aligned*/
	padding: 14px 29px;
	margin: 1px;
}

/* placeholder (right part of the nav bar) */
nav.top div#placeholder{
	flex-grow: 6;
	display: flex;
	justify-content: flex-end;
}
nav.top div#placeholder a:hover{
	background-color: transparent;
}

/* header */
header{
	flex:0 0 auto;  /* this is default parameter is 0 1 auto*/
	margin:0;
	border:0;
}

#title-img {
	display:block;
	min-height: 200px;
	max-height:300px;
	width: 100%;
	height: auto;
}

/* title */
#title {
	display: flex;
	justify-content:center;
	margin: 20px
}

/* main content */
main#inner-main {
	flex: 1 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

section{
	border-bottom: thin solid #A9A9A9;
	margin-bottom: 30px;
}

article {
	width: 500px;
}
p {
	text-align: justify;
}
/* gallery */
main div.gallery-label-title{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height:80px;
	width:80%;
}

main div.gallery-label-align{
	display:flex;
	position: relative;
	width: 80%;
	height: 400px;
}
main div.gallery-label-img{
	position:absolute;
}
main div.gallery-label-img:hover{  /* put the hovered layer on the top */
	z-index:1;
}
main div.gallery-label-img img{
	width: 100%;
	border: 3px solid;

}

/* gallery content */
.outer {
	display:flex;
	flex-direction: row;
	flex-wrap:wrap;
	width: 80%;
}
.img{
	overflow: hidden;
	max-width:300px;
	margin:10px;
}
.img img{
	border: 5px solid ;
	width:100%;
}
.img img:hover{
	filter:brightness(1.2);
}
/* gallery browser */
.modal-body {
	padding: 0;
	height:550px;
}
.modal-body inner{
	display:flex;
	flex-direction: column;
	height:100%;
	width:100%;
	margin:0;
	padding:0;
}
.modal-body div.showsingle{
	display:flex;
	flex-direction:row;
	height:70%;
}
.modal-body div.showall{
	width:100%;
	height:10%;
	display:flex;
	flex-direction:row;
}
.modal-body div.showall div.img{
	display:flex;
	flex-grow: 0;
}
.modal-body div.showall div.img img{
	width:100%;
}
.modal-body div.wrapper{
	display:flex;
	margin: 10px;
	align-items: center;
	justify-content:center;
	height:100%;
	width:80%;
}
.modal-img{
	position:relative;
	width:100%;
	margin-left:80px;
}
.modal-img img{
	position: absolute;
  	opacity: 0;
  	top: 0;
  	left: 0;
  	width: 100%;
  	transition: opacity 1s linear;
	z-index: 1;
}
.modal-img .img-small{
	filter: blur(30px);
}
.modal img.loaded{
	opacity: 1;
}
.modal-description{
	width:20%;
	margin:10px;
}
.modal-body button{
	position:absolute;
	margin: 0;
	padding: 0;
	outline: none;
	background-color: white;
	border:0;
	opacity: 0.05;
	height:100%;
	width:80px;
	z-index: 5;
}
.modal-body button:hover{
	opacity: 0.7;
	transition: opacity 0.3s;
}
.modal-body button.left{
	left: 5px;
}
.modal-body button.right{
	right: 5px;
}

/* footer */
footer{
	display: flex;
	flex-direction: column;
	flex: 0 0 auto;
	height: 320px;
	background-color: #303030;
	color: #DDDDDD;
}
hr{
	color: black;
	width: 1000px;
}

/* feedback form inside footer*/
#form-btn {
	margin-top: 10px;
}
#row{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top:10px;
}
#left-footer, #copyright{
	margin-left:130px;
}
#right-footer{
	margin-right:130px;
}


/* float buttons */
#fix-float {
	width: 160px;
	height: 150px;
	position: fixed;
	right: 0;
	bottom: 0;
}
#up, #left, #right, #down{
	position: absolute;
}
#up{
	top: 10px;
	left: 30px;
}
#up:hover{
	animation: up-anim 0.8s ease-out;
}
@keyframes up-anim{
	0% {top: 10px;}
	20% {top: 7.5px; opacity:0.6}
	50% {top: 5px; opacity:0.5}
	75% {top: 2.5px; opacity:0.4}
	100% {top: 0; opacity:0.3}
}

#left{
	top: 30px;
	left: 10px;
}
#left:hover{
	left: 0;
	opacity: 0.3;
	transition: left 0.8s, opacity 0.8s;
}

#right{
	top: 30px;
	left: 50px;
}
#right:hover{
	left: 60px;
	opacity: 0.3;
	transition: left 0.8s, opacity 0.8s;
}

#down{
	top: 50px;
	left: 30px;
}
#down:hover{
	opacity: 0.3;
	top: 60px;
	transition: top 0.8s, opacity 0.8s;
}
